header{
    background-color: rgb(121, 138, 201);
    padding: 20px;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: abssolute;
    top: 110px;
    right: 0;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}