body {
    background-color: aliceblue;
    color: black;
    text-align: center;
    font-size: 25px;
    border: 5px solid rgb(8, 115, 185);
    padding: 20px;
}

em strong {
    color: rgb(32, 169, 237);
}

h1 {
    text-align: center;
    background-color: rgb(15, 133, 169);
    border: 10px solid rgb(32, 200, 234);
}

#banner {
    width: 70%;

}

.beneficios {
    background-color: rgb(114, 184, 206);
    padding: 20px;
}


.itens {
    font-style: italic;
    text-align: left;
}

.imagembeneficios {
    width: 30%;
}

h3 {
    text-align: center;
    border: 10px double;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    font-size: 30px;
    margin-right: 55%;
    line-height: 1.5;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "🟊";
}

.imagembeneficios {
    width: 40%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.imagembeneficios:hover {
    opacity: 0.3;
}